@model UploadMovieVM
@{
    ViewData["Title"] = "UploadMovie";
}

<h2>UploadMovie</h2>

@if (ViewData["Error"] != null)
{
<div class="alert alert-danger">
    @ViewData["Error"]
</div>}

<form asp-route="upload-movie" method="post">
    <h1>Please fulfilling the requirements</h1>

    <h3>Admin User info:</h3>

    <label asp-for="@Model.Email"></label>
    <input asp-for="@Model.Email" /><br />

    <h3>Movie info:</h3>
    <label asp-for="@Model.Title"></label>
    <input asp-for="@Model.Title" /><br />

    <label asp-for="@Model.Price"></label>
    <input asp-for="@Model.Price" /><br />

    <label asp-for="@Model.Genre"></label>
    <select asp-for="@Model.Genre" asp-items="Html.GetEnumSelectList<Genre>()"></select><br />

    <label asp-for="@Model.MacedonianSubtitle"></label><br />
    <input asp-for="@Model.MacedonianSubtitle" /> @Html.DisplayNameFor(model => model.MacedonianSubtitle)<br />

    <label asp-for="@Model.ReleaseDate"></label>
    <input asp-for="@Model.ReleaseDate" /><br />

    <label asp-for="@Model.Rating"></label>
    <input asp-for="@Model.Rating" /><br />

    <label asp-for="@Model.Duration"></label>
    <input asp-for="@Model.Duration" /><br />

    <label asp-for="@Model.Link"></label>
    <input asp-for="@Model.Link" /><br />

    <button type="submit" class="btn btn-primary">Uplaod movie</button>


</form>