@model MovieDetailsVM

<h3>Movie ID = @Model.Id</h3>
<p>Title: @Model.Title</p>
<p>Genre: @Model.Genre</p>
<p>IMDB Rating: @Model.Rating</p>
<p>Price: @Model.Price</p>
<p>Year of Realease: @Model.ReleaseDate</p>
<p>Duration: @Model.Duration min </p>
<a href="@Model.Link" target="_blank">Click here for more details</a>

<img src="https://img.favpng.com/15/19/11/movie-logo-png-favpng-Xx2p2CQEqRH6p3WyivTU8P5zj.jpg" alt="Movie" height="50" />

